{% extends "layout.html" %}
{% block content %}
<h1>Overview</h1>
<p>Region: {{region}}</p>
{% for fatedge in fatedges %}
     <p>&nbsp;&nbsp;FatEdge: {{fatedge.Name}}</p>
     <ul style="list-style:none">
          <li>SN: {{fatedge.SN}}</li>
          <li>SPEC: {{fatedge.SPEC}}</li>
          <li>SW: {{fatedge.SW}}</li>
          <li>IP: {{fatedge.IP}}</li>
          <li>Online: {{fatedge.Online}}</li>
          <li>Network Model: {{fatedge.NetworkModel}}</li>
          <p>Links: </p>
          {% for thinedge in fatedge.ThinEdges %}
          <p>&nbsp;&nbsp;ThinEdge: {{ thinedge.Name }}</p>
               <ul style="list-style:none">
                    <li>SN: {{thinedge.SN}}</li>
                    <li>SPEC: {{thinedge.SPEC}}</li>
                    <li>SW: {{thinedge.SW}}</li>
                    <li>IP: {{thinedge.IP}}</li>
                    <li>Online: {{thinedge.Online}}</li>
                    <li>Tunnels: {{thinedge.Tunnels}}</li>
               </ul>
          {% endfor %}
     </ul>
     <br/>
{% endfor %}
{% endblock %}